*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: content-box;
}

img {
    width: 30%;
}

.contact-links-svg {
    max-width: 25px;
}

/* Navigation - START */
.nav {
    display: flex;
    background-color: #cd1a41;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.nav-list a {
    padding: 0 10px;
    color: rgb(242, 241, 241);
    display: inline-block;
    margin: 0 20px;
    
}

a, li {
    text-decoration: none;
    list-style: none;
} 

.nav-list li:hover {
    background-color: #455bc7;
    height: 100%;
}
.nav-list a {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
}

/* Navigation - END */

/* WELCOME section - START */
#welcome-section {
    margin-top: 95px;
}