/* VARIABLES */
:root {
    --main-font-color: rgb(242, 241, 241);
}

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth; /*Smooth transition between section*/
}

body {
    box-sizing: content-box;
}

img {
    width: 100%;
    display: block;
    
}
.project-image {
    object-fit:cover;
    height: calc(100% - 8rem);
    width: 100%;
}

.contact-links-svg {
    max-width: 25px;
}

/* Navigation - START */
.nav {
    display: flex;
    background-color: #a5072a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    justify-content: flex-end;
    border-bottom: #111 solid  1px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-right: 30px;
}

.nav-list a {
    padding: 0 10px;
    color: var(--main-font-color);
    display: inline-block;
    margin: 0 20px;
    
}

a, li {
    text-decoration: none;
    list-style: none;
} 

.nav-list li:hover {
    background-color: #880622;
    height: 100%;
}
.nav-list a {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
}

/* Navigation - END */

/* WELCOME section - START */
#welcome-section {
    scroll-margin-top: 90px; /* Solution to have right space, when is clicked on a link, the info appears completely*/
    margin-top: 90px;
    background: #484848;
    background: -webkit-linear-gradient(left, #484848, #111115);
    background: -moz-linear-gradient(left, #484848, #111115);
    background: linear-gradient(to right, #484848, #111115);
    height: 100vh;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    color: aliceblue;
   
}

.welcome-quote {
    display: inline-block;
}

h1, .welcome-quote {
    color: var(--main-font-color);
    font-size: 5.5rem;
}

h1 {
    padding-top: 200px;
    padding-bottom: 20px;
}

.welcome-style-for-job-position {
    font-size: 3rem;
    font-style: italic;
    color: #a5072a;
    padding-bottom: 30px; 
}

.welcome-quote
{
    font-size: 1.5rem;
}

.welcome-quote cite {
    display: block;
    text-align: right;
    padding-top: 10px;
}
/* WELCOME section - END */

/*PROJECTS  section - START */
.projects-section {
    scroll-margin-top: 90px; /*SOLUTION FOR OVERLAPING SECTIONS WHEN AN USER NAVIGATES MENU*/
   /* height: 100vh;*/
    background: linear-gradient(0deg, rgba(1,16,54,1) 0%, rgba(0,66,125,1) 100%);
    text-align: center;
    padding-bottom: 6rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    /* grid-template-rows: [line1] 450px [line2] 450px [end];*/
    grid-gap: 3rem;
    align-items:center;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 4rem;
}
.project-grid img {
    max-height: 400px;
    object-fit: cover;
}
h2 {
    padding-top: 6rem;
    color: var(--main-font-color);
    font-size: 3.5rem;
    text-align: center;
    width: 50%;
    font-weight: 600;
    align-self:  center;
    padding-bottom: 1rem;
}

.projects-section-align-center {
    display: flex;
    flex-direction: column;
}

hr{
    width: 51%;
    color: var(--main-font-color);
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.project-title {
    background: #484848;
    background: -webkit-linear-gradient(bottom, #484848, #111115);
    background: -moz-linear-gradient(bottom, #484848, #111115);
    background: linear-gradient(to bottom, #484848, #111115);
    display: block;
    font-size: 1.5rem;
    color: var(--main-font-color);
    padding: 1.1rem 0.5rem;
    text-align: center;
    border-bottom: 1px solid var(--main-font-color);
    border-radius: 5px;
}

.project {
    border-radius: 8px;
    box-shadow: 2px 2px 5px -1px #111;
}

.code {
    opacity: 0;
    
}

/* Selecting the child with the class .code*/
.project-title:hover > .code {
    opacity: 1;
    color:#d70532;
    transition: 0.6;
    font-size: 1.3rem;
}

/* GENERAL STYLE FOR BUTTONS*/

.btn {
    color: var(--main-font-color);
    text-decoration: none;
    background: #484848;
    background: -webkit-linear-gradient(bottom, #484848, #111115);
    background: -moz-linear-gradient(bottom, #484848, #111115);
    background: linear-gradient(to bottom, #484848, #111115);
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    transition: 0.6s;
    border: 1px solid var(--main-font-color);
    border-radius: 5px;
}

.btn:hover {
    background: #a5072a;
    transform:scale(1.1)
}